.paginadoNav {
  display: flex;
}

.paginadoNav .paginadoUl {
  color: red;
  display: flex;
}

.paginadoNav .paginadoUl .paginadoLi {
  list-style: none;
  padding: 9px;
}

.paginadoNav .paginadoUl .paginadoLi .paginadoBot {
  padding: 6px;
}

.paginadoNav .paginadoUl .paginadoLi .paginadoBot:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
