.detailsPokemon {
  /* width: 50%;
  margin: 15px 5px;
  display: inline-flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
 ; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/create4.jpg");
}
.detailsPokemon .imageInfo {
  height: 45%;
  display: flex;
  border: 1px solid rgb(88, 85, 85);
  border-radius: 50%;
  margin: 3px;
}

.detailsPokemon .contenedorInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  border: 1px solid rgb(88, 85, 85);
  border-radius: 15px;
  margin: 3px;
}
.detailsPokemon .contenedorInfo .info {
  font-size: 20px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(88, 85, 85);
}
