.divPrincipal {
  height: 100%;
  background-image: url("../../assets/poke3-fondo.jpg");
  display: flex;
  justify-content: center;
  background-size: cover;
}
.divPrincipal .form {
  width: 400px;
  padding: 5px;

  border-radius: 10px;
  margin: auto;
  background-color: rgba(199, 195, 133, 0.3);
  box-sizing: border-box;
  display: inline-block;
}
.divPrincipal .form .tipos {
  background-color: rgb(102, 81, 81);
}

.divPrincipal .form .tiposCuadro {
  border-bottom: 1px solid rgb(85, 83, 83);
  display: flex;
  justify-content: center;
}
.divPrincipal .form label {
  width: 72px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.divPrincipal .form input[type="text"],
.divPrincipal .form input[type="number"] {
  width: 180px;
  padding: 3px 10px;
  border: 2px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 5px;
  display: flex;
}
.divPrincipal .form input[type="submit"] {
  width: 100%;
  padding: 10px 16px;
  margin-top: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}
.divPrincipal .form input[type="submit"]:disabled {
  background-color: gray;
}

/* .divPrincipal .form input[type="submit"]:hover {
  cursor: pointer;
  background-color: grey;
} */

.divPrincipal .form .enviar {
  display: flex;
  width: 100%;
}

.divHome {
  display: flex;
  justify-content: flex-end;
}
.divHome .homeButt {
  width: 100px;
  height: 35px;
  border: 1px solid rgb(12, 11, 11);
  color: white;
  background-color: #000;
}
.divHome .homeButt:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
